{% extends 'base.html.twig' %}

{% block title %}
	Class
{% endblock %}

{% block body %}

	<div class="ml-32 mr-32 mt-20">
		<div class="flex items-center">
			<div class="block max-w-sm p-6 bg-gray-800 border-gray-700 border rounded-lg shadow-md">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ student.firstName }} {{ student.lastName }}</h5>
			</div>
		</div>
		<div class="block p-6 mt-10 bg-gray-800 border-gray-700 border rounded-lg shadow-md">

		</div>
	</div>

{% endblock %}
