{% extends 'base.html.twig' %}

{% block title %}
	School Edit
{% endblock %}

{% block body %}

	<div class="pl-32 pt-20">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>

{% endblock %}
