{% extends 'base.html.twig' %}

{% block title %}School Show
{% endblock %}

{% block body %}

    <div class="ml-32 mr-32 mt-20">
        <p class="text-white">{{ school.name }}</p>
    </div>

{% endblock %}
