{% extends 'base.html.twig' %}

{% block title %}
	Cours list
{% endblock %}

{% block body %}
	<div class="ml-32 mr-32 mt-20">
		<div class="flex items-center">
			<div class="ml-4">
				<a href="{{ path('app_cours_create') }}">
					<button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
						Create Cours
					</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
